@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
$fontPagination: 'Press Start 2P', cursive;

 
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  .pages{
    padding: 20px;
    color: #FF4081;
    font-family: $fontPagination;
  }
  
  .buttonPagination{
    padding: 20px;
    background: none;
    border: none;
    color: #FF4081;
    font-family: $fontPagination;
    cursor: pointer;

    &:hover{
      color: #f886ac;
    }
    &.prev[disabled]{
      opacity: 0.5;
      cursor: not-allowed;
      color: #f886ac;
    }
    &.next[disabled]{
      opacity: 0.5;
      cursor: not-allowed;
      color: #f886ac
    }
  }  
}